body {
    font-family: sans-serif;
}

.appicon {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    border: 10px solid white;
    margin: auto;
}

.appicon.chooser {
    background: url(../img/chooser.svg) no-repeat;
}

.appicon.budget {
    background: url(../img/budget.svg) no-repeat;
}

.appicon.wc {
    background: url(../img/wc.svg) no-repeat;
}

.appicon.ab {
    background: url(../img/1a2b.svg) no-repeat;
}

.appicon.setup {
    background-position: center;
    background-color: #ecf0f1;
    background-size: 60% 60%;
    
    transition: all 0.5s;
}

.appicon.setup:hover {
    background-color: #bbbbbb;
}

.cards {
    cursor: default;
    width: auto;
    max-width: 550px;
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 75px;
    padding-top: 0px;
    padding-bottom: 24px;
    border-radius: 25px;
    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 2px 2px rgba(189, 192, 186, 0.2);
}

.cards.app #logo {
    box-shadow: 0 0 2px 2px rgba(189, 192, 186, 0.2);
    position: relative;
    top: -50px;
}

.cards.app #logo:hover {
    box-shadow: 0 0 1.5px 1.5px rgba(189, 192, 186, 0.8);
}

