body {
    font-family: sans-serif;
    background-color: #ecf0f1;
    color: #2d4051;
}

h1 {
    line-height: 150%;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #1C1C1C;
}

a:hover {
    text-decoration: none;
    color: #373C38;
}   

.logo {
    background: url(../img/logo.svg) no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.logo.huge {
    width: 600px;
    height: 250px;
    max-width: 600px;   
}

.logo.small {
    width: 200px;
    height: 80px;
    max-width: 600px;   
}

#logoArea {
    width: 75%;
    max-width: 650px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icbar {
    display: none;
}

.twink-contact {
    text-align: left;
    color: gray;
    background-color: whitesmoke;
    text-decoration: none;
    font-size: 20pt;
    padding: 10pt;
    height: 20pt;
    width: 20pt;
    margin: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.fa-paypal {
    padding-left: 12.5pt;
    padding-right: 7.5pt;
}

.fa-instagram {
    padding-left: 11pt;
    padding-right: 9pt;
}

.twink-contact:hover {
    background-color: black;
    color: whitesmoke;
    transform: scale(1.10);
}

.container {
    max-width: 800px;
    margin: auto;
}

.centered {
    text-align: center;
}