body {
    font-family: sans-serif;
    background-color: #ecf0f1;
    color: #2d4051;
}

h1 {
    line-height: 150%;
}

a {
    text-decoration: none;
    color: #1C1C1C;
}

a:hover {
    text-decoration: none;
    color: #373C38;
}   

.logo {
    background: url(../img/logo.svg) no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.logo.huge {
    width: 600px;
    height: 250px;
    max-width: 600px;   
}

#logoArea {
    width: 75%;
    max-width: 650px;
    margin: auto;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-45%);
}

#icbar {
    display: none;
}
