@media screen and (max-width: 768px) {
    ul li {float: none;}
    li a.title {
        padding: 14px 25px;
        pointer-events: all;
    }

    #menu {
        display: none;
    }
    #icbar {
        display: block;
    }

    #logoArea {
        width: 95%;
    }
    
    .logo.huge {
        width: 90%;
        max-height: 200px;
        max-width: 600px;   
    }
}