@media screen and (max-width: 768px) {
    ul li {float: none;}
    li a.title {
        padding: 14px 25px;
        pointer-events: all;
    }
    #menu {
        display: none;
    }
    #icbar {
        display: block;
    }

    #logoArea {
        width: 100%;
    }

    .logo.huge {
        width: auto;
        height: 30%;
        max-width: 600px;   
    }
}
