/* Site Icon */

#ic-site {
     width: 95px;
    height: 95px;

    margin: auto;

    border-radius: 100px;
    border: 3.5px solid black;

    background: url(../img/ic.svg) no-repeat;
    background-size: 100% 100%;

    transition: all 0.55s ease-in-out;
}

#ic-site:hover {
    background-color: gold;
    border-color: gold;
    box-shadow: 0 0 5px 5px rgba(255, 183, 0, 0.4);
    transform: scale(1.1);
}

/* Tiny Icon */

#ic-tiny {
    width: 250px;
    height: 250px;
    
    position: relative;
    margin: auto;
    transform: translateY(-30%);

    border-radius: 300px;
    border: 10px solid black;

    background: url(../img/ic.svg) no-repeat;
    background-size: 100% 100%;
    
    display: none;
}
