@media screen and (max-width: 768px), screen and (max-height: 700px) {
    #ic-tiny {
        display: block;
    }

    #hello {
        width: 100%;
        text-align: center;
        font-size: 25px;
        background: none;
    }

    #hi {
        font-size: 90px;
    }

    #helloMsg {
        width:90%;
        position:relative;
        margin: auto;
        top: 55%;
        left: 0%;
        transform: translateY(-45%);
    }

    .procard {
        flex: 100%;
    }
}

@media screen and (max-height:800px) {
    #ic-tiny {
        width: 175px;
       height: 175px;

       border: 7px solid black;
    }
}

@media screen and (max-width:400px), screen and (max-height: 700px) {
    #ic-tiny {
        display: none;
    }
}

@media screen and (max-height:543px) {
    #hi {
        font-size: 60px;
    }
    #hello {
        font-size: 20px;
    }
    #helloMsg {
        transform: translateY(-40%);
    }
    #swipe {
        padding-top: 0; 
    }
}

@media screen and (max-width: 768px) {
    ul li {float: none;}
    li a.title {
        padding: 14px 25px;
        pointer-events: all;
    }
    #menu {
        display: none;
    }
    #icbar {
        display: block;
    }
} 