/* Skills */

.skills {
    background-color: #828282;
    color: #FFFFFB;
    border-radius: 25px;
    font-size: 10.5pt;
    padding: 2px 11px;
}

.skills.highlighted {
    background-color: #b9a3a3;
}

