/* Basic Cards */
.card {
    cursor: default;
    width: auto;
    max-width: 550px;
    text-align: center;
    background-color: white;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 25px;
    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 2px 2px rgba(189, 192, 186, 0.2);
}

.card.sp {
    transition: all 0.4s ease-in-out;
}

.card.sp:hover {
    cursor: pointer;
    border: 1px solid rgba(79, 79, 72, 0.3);
    box-shadow: 0 0 2px 2px rgba(79, 79, 72, 0.3);
}

.card.sp #cardtitle {
    color: #1c1c1c;
    transition: color 0.4s ease-in-out;
}

.card.sp:hover #cardtitle {
    color: #4F4F48;
}

.card.sp .sub.twink {
    transition: color 0.4s ease-in-out;
}

.card.sp:hover .sub.twink {
    color: #4F4F48;
}

/* fa-link */
.card .fa-link {
    display: none;
}

.card.sp .fa-link {
    display: inline-block;
    color: white;
    background-color: #1c1c1c;
    font-size: 13px;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    padding: 8px;
    margin-bottom: 12px;
    transition: background-color 0.4s ease-in-out;
}

.card.sp:hover .fa-link {
    background-color: #4f4f48;
}

/* - Educational Cards */
.card.ed {
    padding-top: 0px;
}

/* Logo */
.card.ed #logo {
    width: 150px;
    height: auto;    
    background-color:white;
    border-radius: 150px;
    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 2px 2px rgba(189, 192, 186, 0.2);
    padding: 5px;
    position: relative;
    top: -21px;
    transition: box-shadow 0.55s ease-in-out;
}

.card.ed #logo:hover {
    box-shadow: 0 0 2px 2px rgba(127, 16, 132, 0.4);
}

/* - Experience Card */
.card.ex {
    margin-bottom: 9px;
}

/* - Project Cards */
.card.pro {
    margin-bottom: 6px;    
}

/* Cardlink */
.cardlink {
    text-decoration: none;
    color: #1c1c1c;
}

.cardlink:hover {
    text-decoration: none;
    color: #1c1c1c;
}