.card {
    width: auto;
    max-width: 550px;
    background-color: white;
    text-align: center;
    margin: auto;
    border-radius: 25px;

    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 1px 1px rgba(189, 192, 186, 0.1);
    
    padding-bottom: 24px;
}

.sub {
    font-size: 10pt;
}

#logo:hover {
    box-shadow: 0 0 2px 2px rgba(127, 16, 132, 0.2);
}

#logo {
    width: 150px;
    height: auto;
    
    border-radius: 150px;
    
    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 2px 2px rgba(189, 192, 186, 0.2);

    padding: 5px;
    background-color:white;

    position: relative;
    top: -21px;

    transition: box-shadow 0.55s ease-in-out;
}

.container {
    margin: auto;
    width: auto;
    text-align: center;
    max-width: 610px;
    line-height: 150%;
}