.twink-contact {
    font-size:24px;

    padding: 11px;
    margin: 8px;
    
    border: 3px solid black;
    border-radius: 100px;

    cursor: pointer;

    transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
}

.twink-contact:hover {
    /*opacity: 0.35;*/

    background-color: black;
    color: white;
}

#contacts a {
    text-decoration: none;
    color: black;
}

#contacts a:hover {
    text-decoration: none;
    color: black;
}

#contacts a:visited {
    text-decoration: none;
    color: black;
}