.card {
    width: 100%;
    max-width: 600px;
    background-color: white;
    text-align: center;
    margin: auto;
    border-radius: 25px;
}

.tab {
    color: #373C38;
    font-size: 10pt;
}

.tabbie {
    color: #373C38;
    font-size: 9pt;
}

.sub {
    font-size: 10pt;
}

.pool {
    line-height: 175%;
}

#logo {
    width: 150px;
    height: auto;
    
    border-radius: 150px;
    box-shadow: 0 0 2px 1px var(--itemtextActive);
    padding: 5px;
    background-color:white;

    position: relative;
    top: -20px;
}

.skills {
    background-color: #828282;
    color: #FFFFFB;
    border-radius: 25px;
    font-size: 10pt;
    padding: 2px 11px;
}

.container {
    margin: auto;
    width: auto;
    text-align: center;
    max-width: 768px;
    line-height: 150%;
}
