.card {
    width: 100%;
    max-width: 550px;
    background-color: white;
    text-align: center;
    margin: auto;
    border-radius: 25px;

    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 1px 1px rgba(189, 192, 186, 0.1);
}

.tab {
    color: #373C38;
    font-size: 10pt;
}

.tabbie {
    color: #373C38;
    font-size: 9pt;
}

.sub {
    font-size: 10pt;
}

.pool {
    line-height: 175%;
}

#logo {
    width: 150px;
    height: auto;
    
    border-radius: 150px;
    
    border: 1px solid rgba(120, 120, 120, 0.25);
    box-shadow: 0 0 1px 1px rgba(189, 192, 186, 0.1);

    padding: 5px;
    background-color:white;

    position: relative;
    top: -21px;
}

.highlightSkills {
    background-color: #b9a3a3;
    color: #FFFFFB;
    border-radius: 25px;
    font-size: 10.5pt;
    padding: 2px 11px;
}

.skills {
    background-color: #828282;
    color: #FFFFFB;
    border-radius: 25px;
    font-size: 10.5pt;
    padding: 2px 11px;
}

.container {
    margin: auto;
    width: auto;
    text-align: center;
    max-width: 768px;
    line-height: 150%;
}
