
#hello {
    max-width: 95%;
    background: url(../img/bg.svg) no-repeat top right;
    color: #1C1C1C;
    width: auto;
    height: 88%;

    line-height: 150%;

    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

#hi {
    font-size: 100px;
}

#hiMsg {
    background-color: #e4e9ee;
}

#otherMsg {
    background-color: #e4e9ee;
}

#helloMsg {
    max-width: 600px;
    width: auto;
    position: relative;
    top: 55%;
    left: 18.5%;
    transform: translateY(-50%);
}

#swipe {
    text-align: center;
    font-size: 12pt;
    height:10%;
    padding-top: 20px; 

    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#ic-tiny {
    width: 150px;
    height: 150px;
    
    position: relative;
    margin: auto;
    transform: translateY(-25%);

    border-radius: 150px;
    border: 5px solid black;

    background: url(../img/ic.svg) no-repeat;
    background-size: 100% 100%;
    
    display: none;
}

@media screen and (max-width: 768px) {
    #ic-tiny {
        display: block;
    }
    
    #hello {
        width: 100%;
        text-align: center;
        font-size: 25px;
        background: none;
    }
    #helloMsg {
        width:100%;
        position:relative;
        margin: auto;
        left: 5%;
        transform: translate(-1.5%, -50%);
    }
}

@media screen and (max-width: 667px) {
    #ic-tiny {
        display: block;
        width:100px;
        height:100px;
    }
    
    #hello {
        width: 100%;
        text-align: center;
        background: none;
        line-height: 110%;
    }

    #hi {
        font-size: 60px;
    }

    #helloMsg {
        width:100%;
        position:relative;
        margin: auto;
        left: 5%;

        font-size: 24px;

        transform: translate(-1.5%, -50%);
    }
}

h1 {
    font-size: 45px;
}

