
#hello {
    cursor: default;
    max-width: 95%;
    background: url(../img/bg.svg) no-repeat top right;
    margin: auto;

    color: #1C1C1C;
    width: auto;
    height: 88%;

    line-height: 150%;

    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

#hi {
    font-size: 100px;
}

#hiMsg {
    background-color: #e4e9ee;
    transition: color 0.55s ease-in-out;
    transition: text-shadow 0.55s ease-in-out;

    -webkit-transition: color 0.55s ease-in-out;
    -webkit-transition: text-shadow 0.55s ease-in-out;
}

#hiMsg:hover {  
    color: gold;
    text-shadow: 0 0 20px goldenrod,
                 0 0 30px white,
                 0 0 40px gold,
                 0 0 60px white;
}

#otherMsg {
    background-color: #e4e9ee;
}

#helloMsg {
    max-width: 600px;
    width: auto;
    position: relative;
    top: 55%;
    left: 18.5%;
    transform: translateY(-50%);
}

#swipe {
    cursor: default;

    text-align: center;
    font-size: 12pt;
    height:10%;
    padding-top: 20px; 

    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#ic-tiny {
    width: 150px;
    height: 150px;
    
    position: relative;
    margin: auto;
    transform: translateY(-30%);

    border-radius: 150px;
    border: 5px solid black;

    background: url(../img/ic.svg) no-repeat;
    background-size: 100% 100%;
    
    display: none;
}

@media screen and (max-width: 768px), screen and (max-height: 543px) {
    #ic-tiny {
        display: block;
    }
    
    #hello {
        width: 100%;
        text-align: center;
        font-size: 25px;
        background: none;
    }

    #hi {
        font-size: 90px;
    }

    #helloMsg {
        width:90%;
        position:relative;
        margin: auto;
        top: 55%;
        left: 0%;
        transform: translateY(-45%);
    }
}

@media screen and (max-width:400px), screen and (max-height: 543px) {
    #ic-tiny {
        display: none;
    }
}

@media screen and (max-height:543px) {
    #hi {
        font-size: 60px;
    }
    #hello {
        font-size: 20px;
    }
    #helloMsg {
        transform: translateY(-40%);
    }
    #swipe {
        padding-top: 0; 
    }
}

h1 {
    font-size: 45px;
    text-align: center;
}

