.pool {
    line-height: 175%;
}

.tab {
    color: #373C38;
    font-size: 10pt;
}

.tabbie {
    color: #373C38;
    font-size: 9pt;
}

.highlightSkills {
    background-color: #b9a3a3;
    color: #FFFFFB;
    border-radius: 25px;
    font-size: 10.5pt;
    padding: 2px 11px;
}

.skills {
    background-color: #828282;
    color: #FFFFFB;
    border-radius: 25px;
    font-size: 10.5pt;
    padding: 2px 11px;
}